.footer {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    font-size: 14px;
    gap: 9px;
}

.end {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer img {
    height: 20px;
    width: 19px;
    gap: 5px;
}