.card {
    display: flex;
    align-items: center;
    gap: 24px;

    padding: 16px 24px;
    background: linear-gradient(white, var(--background-app));
    ;
    border-radius: 10px;
}

.card-avatar {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.card.info h3 {
    margin: 0;
    font-size: 16px;
}

.card.info p {
    margin: 4px 0 0;
    font-size: 12px;
}

.card.blue {
    margin-left: auto;
    font-size: 12px;
    background-color: #0B23F4;

}