.card {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
    border-radius: 10px;
    background: var(--color-base-200);
    flex-direction: row;
    justify-content: space-between;

    &.gradient {
        background: linear-gradient(white, var(--color-base-100));
    }
}

.card-avatar {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.card.info {
    margin: 0;
    font-size: 16px;
}

.card.info p {
    margin: 4px 0 0;
    font-size: 12px;
}

.card-blue {
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    padding: 1.5rem;
    border-radius: 10px;
}