@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background-app: #F2F3FF;
  --tokenSurfaceBlue: #0B23F4;
  --tokensSurfaceLightBleu: #B6BDFC;
  --tokensSurfaceOrange: #F4320B;
  --TokensSurfaceLightOrange: #FCC1B6;
  --TokensTypographieSecondary: #707070;
}

html,
body {
  background-color: var(--background-app);
  @apply dark:bg-gray-950;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #111111;

  .card {
    display: flex;
    flex-direction: column;
    border: 10px;
  }


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}