.left-section {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-block: 55px;
    padding-left: 100px;
    gap: 151px;

    .login-card {
        background-color: white;
    }

    .logo {
        width: 157px;
    }

    h1 {
        font-size: 28px;
        font-weight: 600;
        max-width: 284px;
        color: var(--color-primary);
    }

    h2 {
        font-weight: 500;
        font-size: 22px;
        color: #111111;
    }

    a {
        font-size: 14px;
        font-weight: 400;
    }
}

.right-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 56%;

    span {
        position: absolute;
        bottom: 31px;
        width: 36%;
        right: 3%;
        background-color: white;
        display: block;
        padding: 1rem;
        border-radius: 50px;
        font-size: 12px;
        color: var(--color-primary);
        font-weight: 400;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}